.header{
   max-width: 1440px;
   height: 50px;
   margin: 0;
   background-color: rgb(230, 181, 107);
}
.nav{
   height: 50px;
   display: flex;
   margin: 0;
   align-items: center;
   justify-content: flex-end;
   padding: 0;
   list-style-type: none;
}
.nav-link{
   text-decoration: none;
   color: #6b4545;
   font-size: 20px;
}
.nav__element{
   height: 25px;
   margin: 0 35px 0 0 ;
}